{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Api",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_api_v2010.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "api"
  },
  "paths": {
    "/2010-04-01/Accounts/{AccountSid}/Messages.json": {
      "get": {
        "description": "Retrieve a list of messages belonging to the account used to make the request",
        "operationId": "ListMessage",
        "parameters": [
          {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Message resources to read.",
            "in": "path",
            "name": "AccountSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Read messages sent to only this phone number.",
            "in": "query",
            "name": "To",
            "schema": {
              "format": "phone-number",
              "type": "string"
            }
          },
          {
            "description": "Read messages sent from only this phone number or alphanumeric sender ID.",
            "in": "query",
            "name": "From",
            "schema": {
              "format": "phone-number",
              "type": "string"
            }
          },
          {
            "description": "The date of the messages to show. Specify a date as `YYYY-MM-DD` in GMT to read only messages sent on this date. For example: `2009-07-06`. You can also specify an inequality, such as `DateSent<=YYYY-MM-DD`, to read messages sent on or before midnight on a date, and `DateSent>=YYYY-MM-DD` to read messages sent on or after midnight on a date.",
            "in": "query",
            "name": "DateSent",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The date of the messages to show. Specify a date as `YYYY-MM-DD` in GMT to read only messages sent on this date. For example: `2009-07-06`. You can also specify an inequality, such as `DateSent<=YYYY-MM-DD`, to read messages sent on or before midnight on a date, and `DateSent>=YYYY-MM-DD` to read messages sent on or after midnight on a date.",
            "in": "query",
            "name": "DateSent<",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The date of the messages to show. Specify a date as `YYYY-MM-DD` in GMT to read only messages sent on this date. For example: `2009-07-06`. You can also specify an inequality, such as `DateSent<=YYYY-MM-DD`, to read messages sent on or before midnight on a date, and `DateSent>=YYYY-MM-DD` to read messages sent on or after midnight on a date.",
            "in": "query",
            "name": "DateSent>",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "end": {
                      "type": "integer"
                    },
                    "first_page_uri": {
                      "format": "uri",
                      "type": "string"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/api.v2010.account.message"
                      },
                      "type": "array"
                    },
                    "next_page_uri": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "previous_page_uri": {
                      "format": "uri",
                      "nullable": true,
                      "type": "string"
                    },
                    "start": {
                      "type": "integer"
                    },
                    "uri": {
                      "format": "uri",
                      "type": "string"
                    }
                  },
                  "title": "ListMessageResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "Send a message from the account used to make the request",
        "operationId": "CreateMessage",
        "parameters": [
          {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that will create the resource.",
            "in": "path",
            "name": "AccountSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AddressRetention": {
                    "$ref": "#/components/schemas/message_enum_address_retention",
                    "description": "Determines if the address can be stored or obfuscated based on privacy settings",
                    "type": "string"
                  },
                  "ApplicationSid": {
                    "description": "The SID of the application that should receive message status. We POST a `message_sid` parameter and a `message_status` parameter with a value of `sent` or `failed` to the [application](https://www.twilio.com/docs/usage/api/applications)'s `message_status_callback`. If a `status_callback` parameter is also passed, it will be ignored and the application's `message_status_callback` parameter will be used.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^AP[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "Attempt": {
                    "description": "Total number of attempts made ( including this ) to send out the message regardless of the provider used",
                    "type": "integer"
                  },
                  "Body": {
                    "description": "The text of the message you want to send. Can be up to 1,600 characters in length.",
                    "type": "string"
                  },
                  "ContentRetention": {
                    "$ref": "#/components/schemas/message_enum_content_retention",
                    "description": "Determines if the message content can be stored or redacted based on privacy settings",
                    "type": "string"
                  },
                  "ContentSid": {
                    "description": "The SID of the Content object returned at Content API content create time (https://www.twilio.com/docs/content-api/create-and-send-your-first-content-api-template#create-a-template). If this parameter is not specified, then the Content API will not be utilized.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^HX[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "ContentVariables": {
                    "description": "Key-value pairs of variable names to substitution values, used alongside a content_sid. If not specified, Content API will default to the default variables defined at create time.",
                    "type": "string"
                  },
                  "ForceDelivery": {
                    "description": "Reserved",
                    "type": "boolean"
                  },
                  "From": {
                    "description": "A Twilio phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, an [alphanumeric sender ID](https://www.twilio.com/docs/sms/send-messages#use-an-alphanumeric-sender-id), or a [Channel Endpoint address](https://www.twilio.com/docs/sms/channels#channel-addresses) that is enabled for the type of message you want to send. Phone numbers or [short codes](https://www.twilio.com/docs/sms/api/short-code) purchased from Twilio also work here. You cannot, for example, spoof messages from a private cell phone number. If you are using `messaging_service_sid`, this parameter must be empty.",
                    "format": "phone-number",
                    "type": "string"
                  },
                  "MaxPrice": {
                    "description": "The maximum total price in US dollars that you will pay for the message to be delivered. Can be a decimal value that has up to 4 decimal places. All messages are queued for delivery and the message cost is checked before the message is sent. If the cost exceeds `max_price`, the message will fail and a status of `Failed` is sent to the status callback. If `MaxPrice` is not set, the message cost is not checked.",
                    "type": "number"
                  },
                  "MediaUrl": {
                    "description": "The URL of the media to send with the message. The media can be of type `gif`, `png`, and `jpeg` and will be formatted correctly on the recipient's device. The media size limit is 5MB for supported file types (JPEG, PNG, GIF) and 500KB for [other types](https://www.twilio.com/docs/sms/accepted-mime-types) of accepted media. To send more than one image in the message body, provide multiple `media_url` parameters in the POST request. You can include up to 10 `media_url` parameters per message. You can send images in an SMS message in only the US and Canada.",
                    "items": {
                      "format": "uri",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "MessagingServiceSid": {
                    "description": "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/services#send-a-message-with-copilot) you want to associate with the Message. Set this parameter to use the [Messaging Service Settings and Copilot Features](https://www.twilio.com/console/sms/services) you have configured and leave the `from` parameter empty. When only this parameter is set, Twilio will use your enabled Copilot Features to select the `from` phone number for delivery.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^MG[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "PersistentAction": {
                    "description": "Rich actions for Channels Messages.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "ProvideFeedback": {
                    "description": "Whether to confirm delivery of the message. Set this value to `true` if you are sending messages that have a trackable user action and you intend to confirm delivery of the message using the [Message Feedback API](https://www.twilio.com/docs/sms/api/message-feedback-resource). This parameter is `false` by default.",
                    "type": "boolean"
                  },
                  "ScheduleType": {
                    "$ref": "#/components/schemas/message_enum_schedule_type",
                    "description": "Indicates your intent to schedule a message. Pass the value `fixed` to schedule a message at a fixed time.",
                    "type": "string"
                  },
                  "SendAsMms": {
                    "description": "If set to True, Twilio will deliver the message as a single MMS message, regardless of the presence of media.",
                    "type": "boolean"
                  },
                  "SendAt": {
                    "description": "The time that Twilio will send the message. Must be in ISO 8601 format.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "ShortenUrls": {
                    "description": "Determines the usage of Click Tracking. Setting it to `true` will instruct Twilio to replace all links in the Message with a shortened version based on the associated Domain Sid and track clicks on them. If this parameter is not set on an API call, we will use the value set on the Messaging Service. If this parameter is not set and the value is not configured on the Messaging Service used this will default to `false`.",
                    "type": "boolean"
                  },
                  "SmartEncoded": {
                    "description": "Whether to detect Unicode characters that have a similar GSM-7 character and replace them. Can be: `true` or `false`.",
                    "type": "boolean"
                  },
                  "StatusCallback": {
                    "description": "The URL we should call using the `status_callback_method` to send status information to your application. If specified, we POST these message status changes to the URL: `queued`, `failed`, `sent`, `delivered`, or `undelivered`. Twilio will POST its [standard request parameters](https://www.twilio.com/docs/sms/twiml#request-parameters) as well as some additional parameters including `MessageSid`, `MessageStatus`, and `ErrorCode`. If you include this parameter with the `messaging_service_sid`, we use this URL instead of the Status Callback URL of the [Messaging Service](https://www.twilio.com/docs/sms/services/api). URLs must contain a valid hostname and underscores are not allowed.",
                    "format": "uri",
                    "type": "string"
                  },
                  "To": {
                    "description": "The destination phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format for SMS/MMS or [Channel user address](https://www.twilio.com/docs/sms/channels#channel-addresses) for other 3rd-party channels.",
                    "format": "phone-number",
                    "type": "string"
                  },
                  "ValidityPeriod": {
                    "description": "How long in seconds the message can remain in our outgoing message queue. After this period elapses, the message fails and we call your status callback. Can be between 1 and the default value of 14,400 seconds. After a message has been accepted by a carrier, however, we cannot guarantee that the message will not be queued after this period. We recommend that this value be at least 5 seconds.",
                    "type": "integer"
                  }
                },
                "required": [
                  "To"
                ],
                "title": "CreateMessageRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.message"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ],
        "x-twilio": {
          "conditional": [
            [
              "from",
              "messaging_service_sid"
            ],
            [
              "body",
              "media_url"
            ]
          ]
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{Sid}.json": {
      "get": {
        "description": "Fetch a message belonging to the account used to make the request",
        "operationId": "FetchMessage",
        "parameters": [
          {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Message resource to fetch.",
            "in": "path",
            "name": "AccountSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The Twilio-provided string that uniquely identifies the Message resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^(SM|MM)[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.message"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "To redact a message-body from a post-flight message record, post to the message instance resource with an empty body",
        "operationId": "UpdateMessage",
        "parameters": [
          {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Message resources to update.",
            "in": "path",
            "name": "AccountSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The Twilio-provided string that uniquely identifies the Message resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^(SM|MM)[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Body": {
                    "description": "The text of the message you want to send. Can be up to 1,600 characters long.",
                    "type": "string"
                  },
                  "Status": {
                    "$ref": "#/components/schemas/message_enum_update_status",
                    "description": "When set as `canceled`, allows a message cancelation request if a message has not yet been sent.",
                    "type": "string"
                  }
                },
                "title": "UpdateMessageRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.message"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Feedback.json": {
      "post": {
        "description": "",
        "operationId": "CreateMessageFeedback",
        "parameters": [
          {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that will create the resource.",
            "in": "path",
            "name": "AccountSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^AC[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The SID of the Message resource for which the feedback was provided.",
            "in": "path",
            "name": "MessageSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^(SM|MM)[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Outcome": {
                    "$ref": "#/components/schemas/message_feedback_enum_outcome",
                    "description": "Whether the feedback has arrived. Can be: `unconfirmed` or `confirmed`. If `provide_feedback`=`true` in [the initial HTTP POST](https://www.twilio.com/docs/sms/api/message-resource#create-a-message-resource), the initial value of this property is `unconfirmed`. After the message arrives, update the value to `confirmed`.",
                    "type": "string"
                  }
                },
                "title": "CreateMessageFeedbackRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.v2010.account.message.message_feedback"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_enum_status": {
        "enum": [
          "active",
          "suspended",
          "closed"
        ],
        "type": "string"
      },
      "account_enum_type": {
        "enum": [
          "Trial",
          "Full"
        ],
        "type": "string"
      },
      "api.v2010.account": {
        "properties": {
          "auth_token": {
            "description": "The authorization token for this account. This token should be kept a secret, so no sharing.",
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "description": "The date that this account was created, in GMT in RFC 2822 format",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date that this account was last updated, in GMT in RFC 2822 format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "A human readable description of this account, up to 64 characters long. By default the FriendlyName is your email address.",
            "nullable": true,
            "type": "string"
          },
          "owner_account_sid": {
            "description": "The unique 34 character id that represents the parent of this account. The OwnerAccountSid of a parent account is it's own sid.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "A 34 character string that uniquely identifies this resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/account_enum_status",
            "description": "The status of this account. Usually `active`, but can be `suspended` or `closed`.",
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "description": "A Map of various subresources available for the given Account Instance",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "type": {
            "$ref": "#/components/schemas/account_enum_type",
            "description": "The type of this account. Either `Trial` or `Full` if it's been upgraded",
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "description": "The URI for this resource, relative to `https://api.twilio.com`",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.address": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "city": {
            "description": "The city in which the address is located.",
            "nullable": true,
            "type": "string"
          },
          "customer_name": {
            "description": "The name associated with the address.This property has a maximum length of 16 4-byte characters, or 21 3-byte characters.",
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "emergency_enabled": {
            "description": "Whether emergency calling has been enabled on this number.",
            "nullable": true,
            "type": "boolean"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The ISO country code of the address.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal code of the address.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The state or region of the address.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that that we created to identify the Address resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AD[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "street": {
            "description": "The number and street address of the address.",
            "nullable": true,
            "type": "string"
          },
          "street_secondary": {
            "description": "The additional number and street address of the address.",
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "description": "The URI of the resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          },
          "validated": {
            "description": "Whether the address has been validated to comply with local regulation. In countries that require valid addresses, an invalid address will not be accepted. `true` indicates the Address has been validated. `false` indicate the country doesn't require validation or the Address is not valid.",
            "nullable": true,
            "type": "boolean"
          },
          "verified": {
            "description": "Whether the address has been verified to comply with regulation. In countries that require valid addresses, an invalid address will not be accepted. `true` indicates the Address has been verified. `false` indicate the country doesn't require verified or the Address is not valid.",
            "nullable": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "api.v2010.account.address.dependent_phone_number": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the DependentPhoneNumber resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "address_requirements": {
            "$ref": "#/components/schemas/dependent_phone_number_enum_address_requirement",
            "description": "Whether the phone number requires an [Address](https://www.twilio.com/docs/usage/api/address) registered with Twilio. Can be: `none`, `any`, `local`, or `foreign`.",
            "nullable": true,
            "type": "string"
          },
          "api_version": {
            "description": "The API version used to start a new TwiML session.",
            "nullable": true,
            "type": "string"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicates whether a phone number can receive calls or messages.  Capabilities are  `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "nullable": true
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "emergency_address_sid": {
            "description": "The SID of the emergency address configuration that we use for emergency calling from the phone number.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AD[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "emergency_status": {
            "$ref": "#/components/schemas/dependent_phone_number_enum_emergency_status",
            "description": "Whether the phone number is enabled for emergency calling.",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that that we created to identify the DependentPhoneNumber resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^PN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sms_application_sid": {
            "description": "The SID of the application that handles SMS messages sent to the phone number. If an `sms_application_sid` is present, we ignore all `sms_*_url` values and use those of the application.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AP[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sms_fallback_method": {
            "description": "The HTTP method we use to call `sms_fallback_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "sms_fallback_url": {
            "description": "The URL that we call when an error occurs while retrieving or executing the TwiML from `sms_url`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "sms_method": {
            "description": "The HTTP method we use to call `sms_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "sms_url": {
            "description": "The URL we call when the phone number receives an incoming SMS message.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "status_callback": {
            "description": "The URL we call using the `status_callback_method` to send status information to your application.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "status_callback_method": {
            "description": "The HTTP method we use to call `status_callback`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "trunk_sid": {
            "description": "The SID of the Trunk that handles calls to the phone number. If a `trunk_sid` is present, we ignore all of the voice urls and voice applications and use those set on the Trunk. Setting a `trunk_sid` will automatically delete your `voice_application_sid` and vice versa.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^TK[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "uri": {
            "description": "The URI of the resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          },
          "voice_application_sid": {
            "description": "The SID of the application that handles calls to the phone number. If a `voice_application_sid` is present, we ignore all of the voice urls and use those set on the application. Setting a `voice_application_sid` will automatically delete your `trunk_sid` and vice versa.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AP[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "voice_caller_id_lookup": {
            "description": "Whether we look up the caller's caller-ID name from the CNAM database. Can be: `true` or `false`. Caller ID lookups can cost $0.01 each.",
            "nullable": true,
            "type": "boolean"
          },
          "voice_fallback_method": {
            "description": "The HTTP method we use to call `voice_fallback_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_fallback_url": {
            "description": "The URL that we call when an error occurs retrieving or executing the TwiML requested by `url`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "voice_method": {
            "description": "The HTTP method we use to call `voice_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_url": {
            "description": "The URL we call when the phone number receives a call. The `voice_url` will not be used if a `voice_application_sid` or a `trunk_sid` is set.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.application": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Application resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "api_version": {
            "description": "The API version used to start a new TwiML session.",
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "message_status_callback": {
            "description": "The URL we call using a POST method to send message status information to your application.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "public_application_connect_enabled": {
            "description": "Whether to allow other Twilio accounts to dial this applicaton using Dial verb. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "sid": {
            "description": "The unique string that that we created to identify the Application resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AP[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sms_fallback_method": {
            "description": "The HTTP method we use to call `sms_fallback_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "sms_fallback_url": {
            "description": "The URL that we call when an error occurs while retrieving or executing the TwiML from `sms_url`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "sms_method": {
            "description": "The HTTP method we use to call `sms_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "sms_status_callback": {
            "description": "The URL we call using a POST method to send status information to your application about SMS messages that refer to the application.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "sms_url": {
            "description": "The URL we call when the phone number receives an incoming SMS message.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "status_callback": {
            "description": "The URL we call using the `status_callback_method` to send status information to your application.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "status_callback_method": {
            "description": "The HTTP method we use to call `status_callback`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "uri": {
            "description": "The URI of the resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          },
          "voice_caller_id_lookup": {
            "description": "Whether we look up the caller's caller-ID name from the CNAM database (additional charges apply). Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "voice_fallback_method": {
            "description": "The HTTP method we use to call `voice_fallback_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_fallback_url": {
            "description": "The URL that we call when an error occurs retrieving or executing the TwiML requested by `url`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "voice_method": {
            "description": "The HTTP method we use to call `voice_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_url": {
            "description": "The URL we call when the phone number assigned to this application receives a call.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.authorized_connect_app": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the AuthorizedConnectApp resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "connect_app_company_name": {
            "description": "The company name set for the Connect App.",
            "nullable": true,
            "type": "string"
          },
          "connect_app_description": {
            "description": "A detailed description of the Connect App.",
            "nullable": true,
            "type": "string"
          },
          "connect_app_friendly_name": {
            "description": "The name of the Connect App.",
            "nullable": true,
            "type": "string"
          },
          "connect_app_homepage_url": {
            "description": "The public URL for the Connect App.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "connect_app_sid": {
            "description": "The SID that we assigned to the Connect App.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "permissions": {
            "description": "The set of permissions that you authorized for the Connect App.  Can be: `get-all` or `post-all`.",
            "items": {
              "$ref": "#/components/schemas/authorized_connect_app_enum_permission",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "uri": {
            "description": "The URI of the resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country": {
        "properties": {
          "beta": {
            "description": "Whether all phone numbers available in the country are new to the Twilio platform. `true` if they are and `false` if all numbers are not in the Twilio Phone Number Beta program.",
            "nullable": true,
            "type": "boolean"
          },
          "country": {
            "description": "The name of the country.",
            "nullable": true,
            "type": "string"
          },
          "country_code": {
            "description": "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the country.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "description": "A list of related AvailablePhoneNumber resources identified by their URIs relative to `https://api.twilio.com`.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "uri": {
            "description": "The URI of the Country resource, relative to `https://api.twilio.com`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_local": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_machine_to_machine": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_mobile": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_national": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_shared_cost": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_toll_free": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.available_phone_number_country.available_phone_number_voip": {
        "properties": {
          "address_requirements": {
            "description": "The type of [Address](https://www.twilio.com/docs/usage/api/address) resource the phone number requires. Can be: `none`, `any`, `local`, or `foreign`. `none` means no address is required. `any` means an address is required, but it can be anywhere in the world. `local` means an address in the phone number's country is required. `foreign` means an address outside of the phone number's country is required.",
            "nullable": true,
            "type": "string"
          },
          "beta": {
            "description": "Whether the phone number is new to the Twilio platform. Can be: `true` or `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "capabilities": {
            "description": "The set of Boolean properties that indicate whether a phone number can receive calls or messages.  Capabilities are: `Voice`, `SMS`, and `MMS` and each capability can be: `true` or `false`.",
            "format": "phone-number-capabilities",
            "nullable": true,
            "properties": {
              "fax": {
                "type": "boolean"
              },
              "mms": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "voice": {
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "friendly_name": {
            "description": "A formatted version of the phone number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "iso_country": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of this phone number.",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "lata": {
            "description": "The [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "latitude": {
            "description": "The latitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "locality": {
            "description": "The locality or city of this phone number's location.",
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "description": "The longitude of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "number"
          },
          "phone_number": {
            "description": "The phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, which consists of a + followed by the country code and subscriber number.",
            "format": "phone-number",
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "description": "The postal or ZIP code of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "rate_center": {
            "description": "The [rate center](https://en.wikipedia.org/wiki/Telephone_exchange) of this phone number. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          },
          "region": {
            "description": "The two-letter state or province abbreviation of this phone number's location. Available for only phone numbers from the US and Canada.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.balance": {
        "properties": {
          "account_sid": {
            "description": "The unique SID identifier of the Account.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "balance": {
            "description": "The balance of the Account, in units specified by the unit parameter. Balance changes may not be reflected immediately. Child accounts do not contain balance information",
            "nullable": true,
            "type": "string"
          },
          "currency": {
            "description": "The units of currency for the account balance",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.call": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created this Call resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "answered_by": {
            "description": "Either `human` or `machine` if this call was initiated with answering machine detection. Empty otherwise.",
            "nullable": true,
            "type": "string"
          },
          "api_version": {
            "description": "The API version used to create the call.",
            "nullable": true,
            "type": "string"
          },
          "caller_name": {
            "description": "The caller's name if this call was an incoming call to a phone number with caller ID Lookup enabled. Otherwise, empty.",
            "nullable": true,
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that this resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that this resource was last updated, specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "direction": {
            "description": "A string describing the direction of the call. Can be: `inbound` for inbound calls, `outbound-api` for calls initiated via the REST API or `outbound-dial` for calls initiated by a `<Dial>` verb. Using [Elastic SIP Trunking](https://www.twilio.com/docs/sip-trunking), the values can be [`trunking-terminating`](https://www.twilio.com/docs/sip-trunking#termination) for outgoing calls from your communications infrastructure to the PSTN or [`trunking-originating`](https://www.twilio.com/docs/sip-trunking#origination) for incoming calls to your communications infrastructure from the PSTN.",
            "nullable": true,
            "type": "string"
          },
          "duration": {
            "description": "The length of the call in seconds. This value is empty for busy, failed, unanswered, or ongoing calls.",
            "nullable": true,
            "type": "string"
          },
          "end_time": {
            "description": "The time the call ended, given as GMT in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format. Empty if the call did not complete successfully.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "forwarded_from": {
            "description": "The forwarding phone number if this call was an incoming call forwarded from another number (depends on carrier supporting forwarding). Otherwise, empty.",
            "nullable": true,
            "type": "string"
          },
          "from": {
            "description": "The phone number, SIP address, Client identifier or SIM SID that made this call. Phone numbers are in [E.164](https://www.twilio.com/docs/glossary/what-e164) format (e.g., +16175551212). SIP addresses are formatted as `name@company.com`. Client identifiers are formatted `client:name`. SIM SIDs are formatted as `sim:sid`.",
            "nullable": true,
            "type": "string"
          },
          "from_formatted": {
            "description": "The calling phone number, SIP address, or Client identifier formatted for display. Non-North American phone numbers are in [E.164](https://www.twilio.com/docs/glossary/what-e164) format (e.g., +442071838750).",
            "nullable": true,
            "type": "string"
          },
          "group_sid": {
            "description": "The Group SID associated with this call. If no Group is associated with the call, the field is empty.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^GP[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "parent_call_sid": {
            "description": "The SID that identifies the call that created this leg.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CA[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "phone_number_sid": {
            "description": "If the call was inbound, this is the SID of the IncomingPhoneNumber resource that received the call. If the call was outbound, it is the SID of the OutgoingCallerId resource from which the call was placed.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^PN[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "price": {
            "description": "The charge for this call, in the currency associated with the account. Populated after the call is completed. May not be immediately available.",
            "nullable": true,
            "type": "string"
          },
          "price_unit": {
            "description": "The currency in which `Price` is measured, in [ISO 4127](https://www.iso.org/iso/home/standards/currency_codes.htm) format (e.g., `USD`, `EUR`, `JPY`). Always capitalized for calls.",
            "format": "currency",
            "nullable": true,
            "type": "string"
          },
          "queue_time": {
            "description": "The wait time in milliseconds before the call is placed.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify this Call resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CA[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "start_time": {
            "description": "The start time of the call, given as GMT in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format. Empty if the call has not yet been dialed.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/call_enum_status",
            "description": "The status of this call. Can be: `queued`, `ringing`, `in-progress`, `canceled`, `completed`, `failed`, `busy` or `no-answer`. See [Call Status Values](https://www.twilio.com/docs/voice/api/call-resource#call-status-values) below for more information.",
            "nullable": true,
            "type": "string"
          },
          "subresource_uris": {
            "description": "A list of subresources available to this call, identified by their URIs relative to `https://api.twilio.com`.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "to": {
            "description": "The phone number, SIP address, Client identifier or SIM SID that received this call. Phone numbers are in [E.164](https://www.twilio.com/docs/glossary/what-e164) format (e.g., +16175551212). SIP addresses are formatted as `name@company.com`. Client identifiers are formatted `client:name`. SIM SIDs are formatted as `sim:sid`.",
            "nullable": true,
            "type": "string"
          },
          "to_formatted": {
            "description": "The phone number, SIP address or Client identifier that received this call. Formatted for display. Non-North American phone numbers are in [E.164](https://www.twilio.com/docs/glossary/what-e164) format (e.g., +442071838750).",
            "nullable": true,
            "type": "string"
          },
          "trunk_sid": {
            "description": "The unique identifier of the trunk resource that was used for this call. The field is empty if the call was not made using a SIP trunk or if the call is not terminated.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^TK[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "uri": {
            "description": "The URI of this resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.call.call_event": {
        "properties": {
          "request": {
            "description": "Contains a dictionary representing the request of the call.",
            "nullable": true
          },
          "response": {
            "description": "Contains a dictionary representing the call response, including a list of the call events.",
            "nullable": true
          }
        },
        "type": "object"
      },
      "api.v2010.account.call.call_feedback": {
        "properties": {
          "account_sid": {
            "description": "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date that this resource was created, given in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date that this resource was last updated, given in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "issues": {
            "description": "A list of issues experienced during the call. The issues can be: `imperfect-audio`, `dropped-call`, `incorrect-caller-id`, `post-dial-delay`, `digits-not-captured`, `audio-latency`, `unsolicited-call`, or `one-way-audio`.",
            "items": {
              "$ref": "#/components/schemas/call_feedback_enum_issues",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "quality_score": {
            "description": "`1` to `5` quality score where `1` represents imperfect experience and `5` represents a perfect call.",
            "nullable": true,
            "type": "integer"
          },
          "sid": {
            "description": "A 34 character string that uniquely identifies this resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CA[0-9a-fA-F]{32}$",
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.call.call_feedback_summary": {
        "properties": {
          "account_sid": {
            "description": "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "call_count": {
            "description": "The total number of calls.",
            "nullable": true,
            "type": "integer"
          },
          "call_feedback_count": {
            "description": "The total number of calls with a feedback entry.",
            "nullable": true,
            "type": "integer"
          },
          "date_created": {
            "description": "The date that this resource was created, given in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date that this resource was last updated, given in [RFC 2822](https://www.php.net/manual/en/class.datetime.php#datetime.constants.rfc2822) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "end_date": {
            "description": "The last date for which feedback entries are included in this Feedback Summary, formatted as `YYYY-MM-DD` and specified in UTC.",
            "format": "date",
            "nullable": true,
            "type": "string"
          },
          "include_subaccounts": {
            "description": "Whether the feedback summary includes subaccounts; `true` if it does, otherwise `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "issues": {
            "description": "A list of issues experienced during the call. The issues can be: `imperfect-audio`, `dropped-call`, `incorrect-caller-id`, `post-dial-delay`, `digits-not-captured`, `audio-latency`, or `one-way-audio`.",
            "items": {},
            "nullable": true,
            "type": "array"
          },
          "quality_score_average": {
            "description": "The average QualityScore of the feedback entries.",
            "nullable": true,
            "type": "number"
          },
          "quality_score_median": {
            "description": "The median QualityScore of the feedback entries.",
            "nullable": true,
            "type": "number"
          },
          "quality_score_standard_deviation": {
            "description": "The standard deviation of the quality scores.",
            "nullable": true,
            "type": "number"
          },
          "sid": {
            "description": "A 34 character string that uniquely identifies this resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^FS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "start_date": {
            "description": "The first date for which feedback entries are included in this feedback summary, formatted as `YYYY-MM-DD` and specified in UTC.",
            "format": "date",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/call_feedback_summary_enum_status",
            "description": "The status of the feedback summary can be `queued`, `in-progress`, `completed`, or `failed`.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.call.call_notification": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Call Notification resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "api_version": {
            "description": "The API version used to create the Call Notification resource.",
            "nullable": true,
            "type": "string"
          },
          "call_sid": {
            "description": "The SID of the [Call](https://www.twilio.com/docs/voice/api/call-resource) the Call Notification resource is associated with.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CA[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "error_code": {
            "description": "A unique error code for the error condition that is described in our [Error Dictionary](https://www.twilio.com/docs/api/errors).",
            "nullable": true,
            "type": "string"
          },
          "log": {
            "description": "An integer log level that corresponds to the type of notification: `0` is ERROR, `1` is WARNING.",
            "nullable": true,
            "type": "string"
          },
          "message_date": {
            "description": "The date the notification was actually generated in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format. Message buffering can cause this value to differ from `date_created`.",
            "format": "date-time-rfc-2822",
            "nullable": true,
            "type": "string"
          },
          "message_text": {
            "description": "The text of the notification.",
            "nullable": true,
            "type": "string"
          },
          "more_info": {
            "description": "The URL for more information about the error condition. This value is a page in our [Error Dictionary](https://www.twilio.com/docs/api/errors).",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "request_method": {
            "description": "The HTTP method used to generate the notification. If the notification was generated during a phone call, this is the HTTP Method used to request the resource on your server. If the notification was generated by your use of our REST API, this is the HTTP method used to call the resource on our servers.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "request_url": {
            "description": "The URL of the resource that generated the notification. If the notification was generated during a phone call, this is the URL of the resource on your server that caused the notification. If the notification was generated by your use of our REST API, this is the URL of the resource you called.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that that we created to identify the Call Notification resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NO[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "uri": {
            "description": "The URI of the resource, relative to `https://api.twilio.com`.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "api.v2010.account.call.call_notification-instance": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Call Notification resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "api_version": {
[...]
